<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Podcast </title>
  {{ style('/css/app.css') }}
  <script src="https://use.fontawesome.com/694cc5b81d.js"></script>
</head>
<body>

</body>
</html>
